* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 16px;
    background-color: #b9b9b9;
    color: white;
    font-family: 'Cormorant Garamond';
    text-align: center;
}

a {
    color: rgb(44, 44, 44);
    text-decoration: none;
    margin: .5rem;
    font-weight: 900;
}

.header-strip{
    background-color: #000000;
    width: 100%;

}

.header-strip>h4{
    margin: .5rem auto;
    color: #ff7777;

}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: autoS;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;

    }

    .logo {
        border-bottom: 2px solid rgb(31, 31, 31, .5);
        margin-left: 1rem;
        margin-right: 1rem;
    }



    .links {
        flex-direction: column;
        color: #333333;
        margin-top: .5rem;
    }

    .banner {
        margin-top: 2rem;
    }

    .banner>div {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 400px) {
    header {
        flex-direction: column;
    }

    .links {
        flex-direction: column;
    }

    header>.links>div {
        font-size: 1.25rem;
    }

    .banner {
        max-height: 150px;
    }

    .banner>.mission {
        margin-top: 2rem;
        font-size: 1.25rem;
        margin-top: 0;
    }

    .container-2>.staff-box {
        display: flex;
        align-items: center;
    }

    .container-2>.staff-box>h3 {
        margin-left: 1rem;
    }
}

.logo {
    font-size: 4rem;
    padding: .5rem;
    color: #1f1f1f;
}

.links {
    padding: .5rem;
    display: flex;
    font-size: 1.5rem;
}

.banner {
    background-color: #1b1b1b;
    background: linear-gradient(24deg, rgba(0, 0, 0, 0.9), rgba(44, 44, 44, 0.8), rgba(0, 0, 0, 0.9)), url('./images/excited-young-female-is-sitting-on-backseat-of-a-car-commuting-home-at-night-looking-out-of.jpg');
    background-size: cover;
    background-position-y: 15%;
    font-weight: bold;
    font-size: 4rem;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statement{
    border-top: 2px solid #6d6d6d;
    border-bottom: 2px solid #6d6d6d;
    color: #000000;
    font-size: 1.25rem;
    margin: 2rem 3rem;
    
}

.statement>p{
    text-indent: 2rem;

}
.container-1 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-1>.box {
    flex: 1, 1, 1;

}

.box:nth-child(odd) {
    background-color: #3f3f3f;
}

.box {
    background-color: #1b1b1b;
    display: flex;
    height: 255px;
    margin: 1rem auto;
    margin-bottom: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;

}

.container-1>.box>img {
    max-height: 80%;

}


.container-1>.box>h3 {
    margin: .8rem;
    align-self: center;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .container-1 {
        flex-direction: column;
    }
}


.container-2 {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.container-2>.staff-box {
    margin: 1rem 1rem 0;
    width: auto;
}

.container-2>.staff-box>img {
    max-width: 100%;
    max-height: 125px;
}


.container-2>.staff-box>h3 {
    max-width: 90%;
    height: 100%;
    color: #000000;
    font-size: 1.25rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size: .85rem;
    font-weight: bold;
    margin: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 3px;
}